# Compiled class files
*.class

# Log files
*.log
logs/
target/*.log

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/wrapper/maven-wrapper.jar
mvnw
mvnw.cmd


# Gradle
.gradle/
build/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Eclipse
.classpath
.project
.settings/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
.nb-gradle/
.cachedir/
.idea/
nbproject/
nb-configuration.xml

# VS Code
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables and sensitive files
*.env
*.properties
application*.properties
application*.yml
!src/main/resources/application.properties # If you want to track a specific application.properties
!src/main/resources/application.yml # If you want to track a specific application.yml
.gitattributes